.form {
	container-type: inline-size;
}

@container (max-width: 500px) {
	.formFooter {
		position: relative;

		.formStateNotices {
			width: 100%;
			margin: 10px 0;
			order: 3 !important;
			text-align: center;
		}

		.rightSide {
			flex-wrap: wrap;
			justify-content: flex-end;
			> * {
				order: 1;
			}
		}
	}
}
